{% extends '@Frontend/base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
{#            <img class="img-responsive" src="/images/cards-627167_1920.jpg">#}
            <img class="img-responsive" src="/images/sheep-heads-2730031_1920.jpg">
        </div>
    </div>
{% endblock %}

